img {
      width: 300px;
      border: 4px double #f0f;
    }
    figcaption {
      font-size: 1.2em;
    }
    ol {
      text-align: left;
      font-size: 1.2em;
      color: DarkGreen;
    }
    a {
      color: DarkGreen;
    }
    a:hover {
      text-decoration: none;
    }
    footer {
      border-bottom: 4px dashed #990000;
    }